<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>iControl Preferences</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>de.marank.icontrolclientprefs</string>
			<key>key</key>
			<string>UseFixedHost</string>
			<key>label</key>
			<string>Fixed Host</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>de.marank.icontrolclientprefs</string>
			<key>key</key>
			<string>HostAddress</string>
			<key>placeholder</key>
			<string>IP address</string>
            <key>isIP</key>
            <true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>WARNING: If you enable/disable the Fixed Host switch, the usage of icontrol cli tool changes. If the switch is off, you need to provide a IP address as the first parameter. If the switch is enabled, you have to enter the IP address in the textfield below. Now you don't have to supply the IP address every time you call icontrol.</string>
		</dict>
	</array>
	<key>title</key>
	<string>iControl</string>
</dict>
</plist>
